* {
	box-sizing: border-box;
}
.site-wrapper {
	min-height: 100vh;
	padding: 30px;
	display: flex;
	flex-flow: column nowrap;
	font-family: 'Raleway', sans-serif; 
}
.top-bar {
	display: flex;
	align-content: center;
	font-size: 30px;
	justify-content: space-between;
}
.brand-text, .post-title {
	font-weight: 900;
}
.post-body {
	line-height: 23px;
}
footer {
	border-top: .1px solid rgba(0, 0, 0, .8);
	padding-top: 20px;
	text-align: right;
	display: flex;
}
footer a {
	text-decoration: none;
	color: #000;
	font-size: 20px;
	margin-left: 5px;
}
.footer-text {
	margin: 0;		
	flex-grow: 1;
	text-align: left;
}

@media only screen and (min-width: 425px) {
	.site-wrapper {
		flex-direction: row;
		padding: 0;
	}
	.top-bar {
		flex-direction: column;
		align-self: flex-start;
		height: 100vh;
		padding: 30px;
		position: fixed;

	}
	.brand-text {
		writing-mode: vertical-lr;
		transform: rotate(-180deg);
	}
	.content-wrapper {
		display: flex;
		flex-flow: column nowrap;
		padding: 30px 40px 30px;
		margin-left: 60px;
	}
	.content {
		flex-grow: 1;
		/*display: flex;	*/
		align-items: center;
	}
}

@media only screen and (min-width: 720px) {
	.content {
		display: flex;
		flex-flow: row wrap;
		padding-top: 30px;
		align-items: flex-start;
		align-content: baseline;
	}

	.all-posts-title {
		margin: 0;
		flex-basis: 100%;
	}

	.posts-section {
		flex-basis: 33.33%;
		font-size: 120%;
		padding-right: 20px;
	}

	ul.posts-list {
		overflow-y: scroll;
		max-height: 60vh;
	}
}

/* styles for index */
.all-posts-title {
	font-weight: 200;
}
.posts-list {
	padding-left: 0;
	list-style-type: none;
}
.posts-list-item {
	margin-bottom: 10px;
}
.posts-list-item a {
	color: #000;
}